{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="cover-heading">Automatization made simple.</h1>
    <p class="lead">This is a Facebook Automatization app!</p>
{% endblock %}
