{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1 class="cover-heading">Facebook Authorization</h1>
    <p class="lead">Authorize here</p>

    <a class="btn btn-success" href="{{ loginUrl }}">Authorize Yourself</a>
    <a class="btn btn-success" href="{{ loginUrl }}">Authorize Pages</a>
{% endblock %}
