{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1 class="cover-heading">Facebook User Test</h1>
    <p class="lead">Data stuff for tests</p>

    <p><b>ID: </b>{{ user.id }}</p>
    <p><b>Name: </b>{{ user.name }}</p>
{% endblock %}
