{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="cover-heading">Pages Automatization</h1>
    <p class="lead">Automatize your Facebook pages</p>
{% endblock %}
